body{
    display: flex;
    height: 100vh;
    background-color:#210045;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}
.container{
    width: 300px;
    height: 400px;
    margin: auto;
    display: flex;
    border-radius: 20px;
    box-shadow: 10px 5px 4px 2px rgba(0, 0, 0, 0.7), 15px 10px 4px 2px rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#0B0017;
    box-sizing: content-box;
}
.container-tempo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}
#tempoVolta{
    margin: 0;
    font-size: 20px;
    display: none;
}
.tabela{
    visibility: collapse;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    border-spacing: 0px;
    position: relative;
    
}
th{
    border-bottom: 1px solid white;
}
.container-botao{
    display: flex;
    justify-content: space-between;
}
.btn{
    margin: 10px;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 25px 25px 25px 25px;
    color: white;
    background-color:rgb(46, 38, 92);
}
#voltar{
    background-color:#3F6660;
    opacity: 0.2;
}
